/* Používáme intuitivní výpočet rozměrů prvků. */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

/* ----MOBILE SCREEN--------------- */





/* ----TABLET SCREEN--------------- */
/* @media screen and (min-width: 640px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    display: flex;


  }

  .together {
    display: flex;
    flex-direction: column;
    gap: 5px;

  }

} */

/* -----PC SCREEN--------------- */
/* @media screen and (min-width: 1100px) {} */


/* ---//////////////-------------- */
body {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.container {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;

}

.aboutProject {
  border-radius: 5%;
  background-color: #b85389;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px 5px 10px;
  margin: 60px auto;
  max-width: 320px;

}

.aboutProject:hover {
  background-color: #864f9d;
  box-shadow: 2px 3px 4px 5px #c1c0c0;
}



.aboutUs {
  border-radius: 5%;
  background-color: #b85389;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px 5px 10px;
  margin: 60px auto;
  max-width: 320px;


}

.aboutUs:hover {
  background-color: #864f9d;
  box-shadow: 2px 3px 4px 5px #c1c0c0;
}

.images {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 20px;
  justify-content: space-around;

}

img {
  border-radius: 50%;
  width: 100%;
  max-width: 11rem;
  height: auto;
}

img:hover {
  border: 3px solid #b85389;

}

.headline {
  display: flex;
  justify-content: center;
  font-family: "ABeeZee", sans-serif;
}

.headline:hover {
  color: #5105ae;
}

.heading {
  padding: 10px 10px 10px 0;
  display: flex;
  justify-content: center;
  font-family: "ABeeZee", sans-serif;
  margin-top: 10px;
}

h2 {
  color: aliceblue;
  font-family: "ABeeZee", sans-serif;
}

span {
  color: #fb0186;
}

p {
  padding: 20px;
  font-family: "ABeeZee", sans-serif;
  color: aliceblue;
  text-indent: 20px;
}

.abeezee-regular {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.abeezee-regular-italic {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: italic;
}

a {
  border-radius: 50%;
  color: #ffffff;
  background-color: #fb0186;
  font-family: "ABeeZee", sans-serif;
  font-weight: bold;
  width: 28%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: italic;
}


a:hover {
  background-color: #ffffff68;
  color: #fb0186;
  border: 1px solid #fb0186;
  font-weight: bolder;
}

/* .button {
  border-radius: 50%;
  color: #ffffff;
  background-color: #fb0186;
  font-family: "ABeeZee", sans-serif;
  font-weight: bold;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #ffffff68;
  color: #fb0186;
  border: 1px solid #fb0186;
  font-weight: bolder;
} */



/* martina.html */


.aboutUs {
  display: flex;
  flex-direction: column;
  margin: 60px auto;
  max-width: 320px;

}


.images {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 20px;
  gap: 50px;

}
